body {
    background-color: #101013;
    color: #daa520;
  }
a{
 color: goldenrod;
}
.btn{
  background-color: black;
  color: goldenrod;
}
.dropdown-menu{
  background-color: black;
}
.sbutton{
  color: goldenrod;
  background-color: black;
}