body {
  background-color: #101013;
  color: #daa520;
  overflow: hidden;
}
.uiv {
  height: 88vh;
}
.uv{
  display: flex;
  flex-wrap: wrap;
}
/* === CONVERSATIONS === */
.chatrooms {
  width: 35%;
  height: 88vh;
  overflow: hidden;
  border-right: 2px solid goldenrod;
  display: inline-block;
}
.chatroom {
  width: 100%;
  height: 60px;
  background-color: white;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.room_view{
  max-height: 76vh;
  background-color: black;
  overflow: auto;
}

.chatroom-active {
  width: 98.5%;
  height: 90px;
  background-color: #FFF;
  border-bottom: solid 1px #E0E0E0;
}

.photo {
  width: 50px;
  height: 50px;
  background: #1A1925;
  border-radius: 50px;
}

.chatrooms .photo{
  margin-left: 20px;
}

.room_name {
  display: flex;
  align-items: center;
}

.message {
  color:#515151;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.message_text{
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.chat {
  width: 65%;
}

.footer-chat {
  width: 65%;
  height: 12%;
  display:flex;
  align-items: center;
  position:absolute;
  bottom: 0;
  background-color: #101013;
  border-top: 2px solid goldenrod;
}

.send_button {
  position: absolute;
  right: 1%;
  vertical-align: center;
  width: 50px;
  height: 50px;
}

.message_field {
  border: 2px solid goldenrod;
  width: 90%;
  height: 50px;
  margin-left: 3%;
  padding: 10px;
}

.notify{
  display: flex;
  justify-content: right;
  right: 0;
  padding: 3px 8px;
  color: #BBB;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: ghostwhite;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: goldenrod;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgoldenrod;
}

.chat_scroller {
  overflow-y: scroll;
  scrollbar-color: goldenrod ghostwhite;
  scrollbar-width: thin;
}