body {
  background-color: #101013;
  color: #daa520;
  overflow: hidden;
}
.uiv {
  height: 88vh;
}
.uv{
  display: flex;
  flex-wrap: wrap;
}
a:hover{
  color: darkgoldenrod;
  text-decoration: none;
}
/* === CONVERSATIONS === */
.chatrooms {
  width: 20%;
  height: 80vh;
  overflow: auto;
  border-right: 2px solid goldenrod;
  display: inline-block;
}
.chatroom {
  width: 100%;
  height: 60px;
  background-color: transparent;
  display:flex;
  align-items: center;
  cursor: pointer;
  border-bottom: solid 1px goldenrod;
}

.room_view{
  height: 80vh;
  background-color: black;
  overflow: auto;
}

.chatroom-active {
  width: 100%;
  height: 60px;
  background-color: #1A1925;
  display:flex;
  align-items: center;
  cursor: pointer;
  border-bottom: solid 1px darkgoldenrod;
  border-right: solid 5px darkgoldenrod;
}

.photo {
  width: 50px;
  height: 50px;
  background: #1A1925;
  border-radius: 50px;
}

.chatrooms .photo{
  margin-left: 20px;
}

.room_name {
  display: flex;
  align-items: center;
}

.message {
  color:#515151;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.message_text{
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.chat {
  width: 80%;
}

.footer-chat {
  width: 80%;
  height: 10vh;
  display:flex;
  align-items: center;
  position:absolute;
  bottom: 0;
  background-color: white;
  border-top: 2px solid goldenrod;
}

.footer-rooms{
  width: 20%;
  height: 10vh;
  display:flex;
  align-items: center;
  position:absolute;
  bottom: 0;
  background-color: white;
  border-top: 2px solid goldenrod;
  border-right: 2px solid goldenrod;
}

.send_button {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1%;
  vertical-align: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-color: transparent;
}
.send_button > img{
  width: 50px;
  height: 50px;
  vertical-align: center;
}

.message_field {
  border: 2px solid goldenrod;
  width: 90%;
  height: 50px;
  margin-left: 3%;
  padding: 10px;
  background-color: black;
  color: goldenrod;
}

.room_creator{
  background: #101013;
}

.createRoomButton{
  color: goldenrod;
  border: transparent;
  background: transparent;
  outline: none;
}

.createRoomButton:focus{
  color: goldenrod;
  border: transparent;
  background: transparent;
  outline: none;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: ghostwhite;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: goldenrod;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgoldenrod;
}

.chat_scroller {
  overflow-y: auto;
  scrollbar-color: goldenrod ghostwhite;
  scrollbar-width: thin;
}