body {
  background-color: #101013;
  color: #daa520;
  overflow: hidden;
}
.uiv {
  height: 88vh;
}
.uv{
  display: flex;
  flex-wrap: wrap;
}
a:hover{
  color: darkgoldenrod;
  text-decoration: none;
}
/* === CONVERSATIONS === */
.chatrooms {
  height: 88vh;
}
.room_list{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}
.chatroom {
  width: 100%;
  height: 60px;
  background-color: transparent;
  display:flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid goldenrod;
}
.room_view{
  width: 100%;
  height: 78vh;
  background-color: #1A1925;
  overflow: auto;
}
.chatroom-active {
  width: 100%;
  height: 60px;
  background-color: #1A1925;
  display:flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid goldenrod;
}
.room_name {
  display: flex;
  align-items: center;
}

.photo {
  width: 50px;
  height: 50px;
  background: #1A1925;
  border-radius: 50px;
}
.message {
  color:#515151;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}
.message_text{
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.chat {
  width: 100%;
  height: 88vh;
  display: flex;
}
.footer-chat {
  width: 100%;
  bottom: 0;
  height: 10vh;
  display:flex;
  align-items: center;
  flex-direction: row;
  position:absolute;
  background-color: white;
  border-top: 2px solid goldenrod;
}
.send_ui{
  width: 90%;
  height: 100%;
  bottom: 0;
  position: absolute;
  display:flex;
  align-items: center;
  flex-direction: row;
}

.footer-rooms{
  width: 20%;
  height: 10vh;
  display:flex;
  align-items: center;
  position:absolute;
  background-color: white;
  border-top: 2px solid goldenrod;
  border-right: 2px solid goldenrod;
}

.send_button {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-color: transparent;
}
.send_button > img{
  width: 50px;
  height: 50px;
  vertical-align: center;
}

.message_field {
  border: 2px solid goldenrod;
  width: 80%;
  height: 50px;
  padding: 10px;
  background-color: black;
  color: goldenrod;
}

.room_creator {
  background: #101013;
}


.createRoomButton{
  color: goldenrod;
  border: transparent;
  background: transparent;
  outline: none;
}

.createRoomButton:focus{
  color: goldenrod;
  border: transparent;
  background: transparent;
  outline: none;
}


.sidepanel  {
  width: 0;
  height: 78vh;
  position: fixed;
  z-index: 10;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: ghostwhite;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: goldenrod;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgoldenrod;
}

.chat_scroller {
  overflow-y: auto;
  scrollbar-color: goldenrod ghostwhite;
  scrollbar-width: thin;
}