* {box-sizing: border-box;}
body {
  background-color: #101013;
  color: #daa520;
  }
a{
  color: goldenrod;
}
ul{
  list-style-type:none;
}
.btn{
  border-color: black;
  background-color: black;
  color: goldenrod;
}
.btn:hover {
  background-color: black;
}
.btn:active {
  background-color: black;
}
.button-secondary:hover{
  color: goldenrod;
}
.dropdown-menu{
  background-color: black;
}
.dropdown-item{
  color: goldenrod;
}
.dropdown-item:hover{
  background-color: black;
}
.dropdown-divider{
  border-color: goldenrod;
}
.nav-link{
  color: goldenrod;
}
.navbar{
  background-color: black;
  border-bottom-style: solid;
  border-color: goldenrod;
}