* {box-sizing: border-box;}
body {
  background-color: #101013;
  color: #daa520;
  }
a{
  color: goldenrod;
}
ul{
  list-style-type:none;
}
.btn{
  border-color: transparent;
  background-color: transparent;
  color: goldenrod;
}
.btn:hover {
  background-color: transparent;
}
.btn:active {
  background-color: transparent;
}
.button-secondary:hover{
  color: goldenrod;
}
.dropdown-menu{
  background-color: black;
}
.dropdown-item{
  color: goldenrod;
}
.dropdown-item:hover{
  background-color: black;
}
.dropdown-divider{
  border-color: goldenrod;
}
.nav-link{
  color: goldenrod;
}
.navbar{
  background-color: black;
  border-bottom-style: solid;
  border-color: goldenrod;
  height: 12vh;
}
.ppic{
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: black grey;
  scrollbar-width: thin;
}